.mail-search {
    width: 100%;
    background-color: #f6f8fc;
    height: 46px;
    display: flex;
    /* margin-left: 56px;
    margin-right: 96px; */
}

.mail-search-bar {
    background-color: #eaf1fb;
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    height: 3rem;
    margin-right: 1rem;
    justify-content: space-between;
    padding: 0.5rem;
}

.mail-search-form {
    display: flex;
    flex-direction: row;
}

.mail-search input {
    background-color: #eaf1fb;
    display: flex;
    flex-grow: 1;
    padding: .6rem;
}

.mail-search-btn {
    display: flex;
    justify-content: end;
}

.mail-search-btn >* {
    background: none;
    border: none;
    width: 1.5rem;
    padding: 0.5rem;
    margin: 3px;
}

.mail-search-btn >*:hover {
    background-color: rgb(60,64,67, 0.08);
    color: #444746;
    border-radius: 100vw;
    opacity: 1;
    fill: currentColor
    ;
}