.mail-compose-btn {
    background-color: #f6f8fc;
    display: flex;
    height: 56px;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 56px;
    min-width: 96px;
}

.compose-btn {
    border-radius: 16px;
    color: #001d35;
    height: 56px;
    align-items: center;
    background-color: #c2e7ff;
    display: flex;
    font-weight: 500;
    line-height: 2rem;
    border: none;
    display: flex;
    justify-content: space-around;
}

.compose-btn > * {
    padding: 0.5rem;
}

.compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    background-color: #c2e7ff;
}