.mail-search {
    width: 100%;
    background-color: #f6f8fc;
    height: 46px;
    /* margin-left: 56px;
    margin-right: 96px; */
}

.mail-search .magnifying-glass {
/* padding: 0 5px; */
}

.mail-search input {
    background-color: #eaf1fb;
    width: 60%;
    /* padding: .6rem; */
}