.mail-add {
    position: fixed;
    bottom: 0;
    right: 2%;
    background-color: white;
    width: 526px;
    height: 534px;
    border: 1px solid darkgrey;

    z-index: 1;
}

.mail-add input {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
}


.mail-add-header {
    padding: 10px 0;
    height: 40px;
    background-color: #f2f6fc;
    padding: 0 1rem;
    font-weight: 500;
}

.mail-add-form {
    padding: 0 1rem;
}

.mail-add-receipient {
    padding: 10px 0;

}

.mail-add-subject {
    padding: 10px 0;
    border-bottom: 1px solid #cfcfcf;
}

.mail-add-body {
    padding: 10px 0;
    border-bottom: 1px solid #cfcfcf;
}

.mail-add-body input {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.mail-add-submit-btn {
    background-color: #0b57d0;
    color: white;
    border: none;
    border-radius: 45px;
    position: absolute;
    bottom: 3%;
    width: 3rem;
    height: 36px;
    width: 72px;
}

.mail-add-submit-btn:hover {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%)
}

.mail-add-submit-btn:active {
    background-color: #3367d6;
}