/* This has to have the main mail layout and the inner layouts */


.mail-index {
    height: 100vh;
    background-color: #f6f8fc;
    display: grid;
    grid-template-areas:
        "compose-btn search-bar"
        "mail-navbar  mail-list";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 256px 1fr;
    color: var(--gmail-black);
    font-size: 14px;
}

.mail-compose-btn {
    grid-area: compose-btn
}


/* Defines the email search bar */
.mail-search {
    grid-area: search-bar
}

.main-nav {
    grid-area: mail-navbar
}

/* Defines the email list */
.mail-list {
    grid-area: mail-list
}